.title .edit-icon {
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}

.title:hover .edit-icon {
  opacity: 1;
}

.title .form-control {
  height: 60px;
  font-size: 24px
}